 # Importing the dependencies

In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler  # Fixed typo: StandardScaler instead of StandardScalar
from sklearn.model_selection import train_test_split
from sklearn import svm  # support vector machine
from sklearn.metrics import accuracy_score

C:\Users\ADITYA\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

import numpy as np: This imports the NumPy library and allows you to use its functions and classes in your code. It is a widely-used library for numerical computing in Python. The as np part gives it an alias np, so you can refer to NumPy functions using np instead of numpy.

import pandas as pd: Similarly, this imports the Pandas library, which is used for data manipulation and analysis. The alias pd is commonly used for Pandas.

from sklearn.preprocessing import StandardScaler: This line imports the StandardScaler class from the preprocessing module of the scikit-learn library. StandardScaler is used to standardize features by removing the mean and scaling to unit variance.

from sklearn.model_selection import train_test_split: This imports the train_test_split function from the model_selection module of scikit-learn. This function is commonly used to split datasets into training and testing subsets for model training and evaluation.

from sklearn import svm: This imports the Support Vector Machine (SVM) classifier from scikit-learn. SVM is a supervised machine learning algorithm used for classification and regression tasks.

from sklearn.metrics import accuracy_score: This imports the accuracy_score function from the metrics module of scikit-learn. accuracy_score is commonly used to evaluate the accuracy of a classification model by comparing the predicted labels to the true labels.

# Data collection and Analysis

In [2]:
diabetes_dataset = pd.read_csv('C:/Users/ADITYA/Downloads/diabetes (1).csv')

In [3]:
diabetes_dataset

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [4]:
diabetes_dataset.head(5)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [5]:
diabetes_dataset.tail(5)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [6]:
# to check no of rows and columns in this dataset
diabetes_dataset.shape

(768, 9)

In [7]:
# getting statistical measures of the data

diabetes_dataset.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [8]:
diabetes_dataset['Outcome'].value_counts()

# 0 --> Non Diabetic
# 1 --> Diabetic

0    500
1    268
Name: Outcome, dtype: int64

In [9]:
diabetes_dataset.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [10]:
# Separating data and variable

X = diabetes_dataset.drop(columns = "Outcome",axis = 1)
Y = diabetes_dataset['Outcome']

In [11]:
X

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [12]:
Y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

# Data Standardization

In [13]:
scaler = StandardScaler()

In [14]:
scaler.fit(X)

StandardScaler()

In [15]:
standardized_data = scaler.transform(X)

In [16]:
standardized_data

array([[ 0.63994726,  0.84832379,  0.14964075, ...,  0.20401277,
         0.46849198,  1.4259954 ],
       [-0.84488505, -1.12339636, -0.16054575, ..., -0.68442195,
        -0.36506078, -0.19067191],
       [ 1.23388019,  1.94372388, -0.26394125, ..., -1.10325546,
         0.60439732, -0.10558415],
       ...,
       [ 0.3429808 ,  0.00330087,  0.14964075, ..., -0.73518964,
        -0.68519336, -0.27575966],
       [-0.84488505,  0.1597866 , -0.47073225, ..., -0.24020459,
        -0.37110101,  1.17073215],
       [-0.84488505, -0.8730192 ,  0.04624525, ..., -0.20212881,
        -0.47378505, -0.87137393]])

In [17]:
X = standardized_data
Y = diabetes_dataset['Outcome']

In [18]:
X
Y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

# Train Test Split

In [19]:
X_train, X_test , Y_train, Y_test = train_test_split(X,Y,test_size = 0.2,stratify = Y,random_state=2)

Data Ko Divide Karna: train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2) ke saath tu apna data ko split kar raha hai.

Parameters:

X: Ye tera data hai jisme features hain (jaise ki age, weight, etc.).
Y: Ye target variable hai jo tu predict karne ki koshish kar raha hai (jaise ki diabetes hai ya nahi).
test_size=0.2: Ye batata hai ki 20% data ko testing ke liye reserve kiya jaye, aur baki 80% ko training ke liye istemal kiya jaye.
stratify=Y: Ye ensure karta hai ki target variable Y ki classes ka distribution training aur testing sets mein same rahe. Ye especially tab kaam aata hai jab data imbalanced ho.
random_state=2: Ye ek seed hai jo random number generator ke liye set hota hai. Isse data ko har baar ek consistent tarah se split kiya jata hai, jisse reproducibility milti hai. Ye value 2 sirf ek number hai, tu koi bhi integer use kar sakta hai.
Output:

X_train: Isme training set ke features hain.
X_test: Isme testing set ke features hain.
Y_train: Isme training set ke target variable ke values hain.
Y_test: Isme testing set ke target variable ke values hain

In [20]:
print(X.shape,X_train.shape,X_test.shape)

(768, 8) (614, 8) (154, 8)

# Training the model

In [21]:
classifier = svm.SVC(kernel = 'linear')

#Is line ka matlab hai ki ek SVM classifier banaya gaya hai jiska kernel 'linear' hai.
#Ab is classifier ko training data par train kiya jaayega taki wo data ko sahi se classify kar sake.

In [22]:
# training the support vector machine classfier

classifier.fit(X_train, Y_train)

SVC(kernel='linear')

# Evaluating the model

# Accuracy Score

In [23]:
# accuracy score for training data
X_train_prediction = classifier.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction,Y_train)

In [24]:
print('Accuray score of the training data: ', training_data_accuracy)

Accuray score of the training data:  0.7866449511400652

In [25]:
# accuracy score of testing data
X_test_prediction = classifier.predict(X_test)
testing_data_accuracy = accuracy_score(X_test_prediction,Y_test)

In [26]:
print('Accuray score of the testing data: ', testing_data_accuracy)

Accuray score of the testing data:  0.7727272727272727

# Making a prediction system

In [29]:
input_data = (4,110,92,0,0,37.6,0.191,30)

# change it to numpy array

input_data_As_numpy_aaray = np.asarray(input_data)

#reshape the array as we are predictiong for one instances

input_data_reshaped = input_data_As_numpy_aaray.reshape(1,-1)

#Standardise the input data

std_data = scaler.transform(input_data_reshaped)
print(std_data)



prediction = classifier.predict(std_data)
print(prediction)


if prediction[0] == 0:
    print("The person is NON DIABETIC")
else:
    print("The person is DIABETIC")

[[ 0.04601433 -0.34096773  1.18359575 -1.28821221 -0.69289057  0.71168975
  -0.84827977 -0.27575966]]
[0]
The person is NON DIABETIC

C:\Users\ADITYA\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [30]:
input_data = (10,168,74,0,0,38,0.537,34)

# change it to numpy array

input_data_As_numpy_aaray = np.asarray(input_data)

#reshape the array as we are predictiong for one instances

input_data_reshaped = input_data_As_numpy_aaray.reshape(1,-1)

#Standardise the input data

std_data = scaler.transform(input_data_reshaped)
print(std_data)



prediction = classifier.predict(std_data)
print(prediction)


if prediction[0] == 0:
    print("The person is NON DIABETIC")
else:
    print("The person is DIABETIC")

[[ 1.82781311  1.4742667   0.25303625 -1.28821221 -0.69289057  0.76245745
   0.1966813   0.06459135]]
[1]
The person is DIABETIC

C:\Users\ADITYA\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(